body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}
.calculator-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}
h1 {
    color: #333;
}
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}
button {
    margin-top: 15px;
    background-color: #000000;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
button:hover {
    background-color: #45a049; /* Cor mais escura no hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra mais intensa */
    transform: translateY(-2px); /* Efeito de elevação */
}

button:active {
    background-color: #3e8e41; /* Cor um pouco mais escura ao clicar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra reduzida */
    transform: translateY(0); /* Retira a elevação ao clicar */
}
.result {
    margin: 20px;
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
}