:root {
  --cor-fonte-p: #ffffff;
  --cor-fundo-primaria: #1e1e2f;
  --cor-destaque: #00ff73;
  --cor-borda: #333333;
  --cor-texto: #e4e4e4;
  --cor-hover: #47ffa9;
  --cor-input-bg: #3a3a47;
  --cor-input-focus: #575768;
  font-family: "Cyber", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(135deg, #eaeaea, #444444);
  color: var(--cor-texto);
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

#container {
  margin-top: 100px;
  text-align: center;
  width: 100%;
  max-width: 700px;
  height: auto;
  background-color: #1a1a1a;
  color: var(--cor-texto);
  border-radius: 10px;
  box-shadow: 10px 14px 116px rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
  overflow: auto;
}

/* Estilizando a barra de rolagem */
#container::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
  transition: all 0.3s ease;
}

#container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
}

#container::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #444444, #4a4a4a);
  border-radius: 0.3rem;
  transition: background 0.3s ease, transform 0.3s ease;
}

#container::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #eaeaea, #919191);
  transform: scale(1.1);
}

h1 {
  color: var(--cor-fonte-p);
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-shadow: 0 0 4px var(--cor-fonte-p);
}

#bloco1,
#bloco2 {
  margin: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

#bloco2 {
  display: none;
}

h1, h2 {
  text-align: center;
  color: #fff;
}

#char_atributes td#td_b2 {
  background-color: var(--cor-input-bg);
  border: 2px solid var(--cor-borda);
  border-radius: 10px;
  text-align: center;
  padding: 1rem;
  color: var(--cor-texto);
  font-size: 1rem;
  transition: transform 0.2s;
}

#char_atributes td#td_b2:hover {
  transform: scale(1.05);
  background-color: var(--cor-input-focus);
  color: var(--cor-fonte-p);
}

.atrb {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5rem 0;
  color: var(--cor-fonte-p);
}

.mod {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--cor-destaque);
}

#td_b2 span {
  display: block;
  font-size: 5px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0.5rem;
}


.attribute-container {
  text-align: center;
  margin: 0.5rem 0;
}

table {
  width: 100%;
  border-spacing: 1.5rem;
}

td {
  padding: 0.5rem;
  color: var(--cor-texto);
  border-bottom: 1px solid var(--cor-borda);
}

input[type="text"],
input[type="number"],
select {
  text-align: center;
  background-color: var(--cor-input-bg);
  color: var(--cor-texto);
  font-weight: bold;
  font-size: 15px;
  border: 0.15rem solid var(--cor-borda);
  border-radius: 14px;
  padding: 0.5rem;
  margin: 0.3rem 0;
  transition: background-color 0.3s, border-color 0.3s;
  width: 100%;
  height: 30px;
}

/* Especificidades para o input[type="number"] */
input[type="number"] {
  height: 30px;
  font-size: 20px;
  max-width: 12rem;
  border-radius: 14px;
}

/* Especificidades para o select */
select {
  max-width: 30rem;
  min-height: 50px;
}


input:focus,
select:focus {
  outline: none;
  background-color: var(--cor-input-focus);
  border-color: var(--cor-hover);
  box-shadow: 0 0 0.4rem var(--cor-hover);
}

/* Estilizando os botões, mas excluindo aqueles dentro do header */
button:not(header button) {
  padding: 0.8rem 1.5rem;
  background-color: var(--cor-fundo-primaria);
  color: var(--cor-texto);
  font-weight: bold;
  border: 0.1rem solid var(--cor-borda);
  border-radius: 0.3rem;
  transition: background-color 0.4s, box-shadow 0.4s;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

button:not(header button):hover {
  background: var(--cor-texto);
  color: var(--cor-fundo-primaria);
  box-shadow: 0 0 0.4rem var(--cor-hover);
}

button:not(header button):active {
  transform: scale(0.98);
  box-shadow: none;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  appearance: none;
  background-color: var(--cor-fundo-primaria);
  border: 0.1rem solid var(--cor-borda);
  border-radius: 0.2rem;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  transition: background-color 0.3s, border-color 0.3s;
}

.checkbox:checked {
  background-color: var(--cor-hover);
}

#add_escola {
  height: auto;
  max-height: 10rem;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--cor-texto);
  font-weight: bold;
  border: 0.1rem solid var(--cor-borda);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  transition: background-color 0.3s, color 0.3s;
}

#add_escola:hover {
  background-color: var(--cor-hover);
  color: var(--cor-texto);
}

.singleSchool {
  margin: 0.5rem auto;
  padding: 0.5rem;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--cor-texto);
  font-weight: bold;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--cor-borda);
  transition: background-color 0.3s, color 0.3s;
}

.singleSchool:hover {
  background-color: var(--cor-hover);
  color: var(--cor-texto);
}

@media (max-width: 768px) {
  #container {
    width: 95%;
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  button {
    padding: 0.5rem 1rem;
  }
}
