
@keyframes pulse-light {
    0% {
        box-shadow: 0 0 10px rgba(128, 203, 196, 0.2); /* Verde suave */
    }
    50% {
        box-shadow: 0 0 20px rgb(128, 203, 195);
    }
    100% {
        box-shadow: 0 0 10px rgba(128, 203, 196, 0.2);
    }
}

@keyframes pulse-dark {
    0% {
        box-shadow: 0 0 10px #6b1616; /* Vermelho escuro */
    }
    50% {
        box-shadow: 0 0 20px #b64d4d; /* Vermelho mais claro */
    }
    100% {
        box-shadow: 0 0 10px #6b1616;
    }
}



input[type="text"] {
    width: 90%;
    max-width: 350px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #80cbc4;
    border-radius: 18px;
    font-size: 1em;
    background-color: #f9f9f9;
    transition: background 0.3s, color 0.3s, border 0.3s;
}

input:focus {
    border: 1px solid #80cbc4;
    outline: none;
    animation: pulse-light 3s infinite;
    transition: all 0.3s ease;
  }

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(#eaeaea, #444444);
    padding-top: 60px;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, color 0.3s; /* Transição suave */
}

body.dark-theme {
    background: linear-gradient(0deg, #000000, #333333);
    color: #eaeaea;
}

body.dark-theme input[type="text"] {
    background-color: #555555;
    color: #eaeaea;
    border: 1px solid #b64d4d;
}

body.dark-theme input[type="text"]:focus {
    animation: pulse-dark 3s infinite;

}

.calculator-container {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    transition: background 0.3s, color 0.3s;
}

body.dark-theme .calculator-container {
    background-color: #444444;
    color: #f1f1f1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #000000;
    font-weight: bold;
    transition: color 0.3s;
}

body.dark-theme h1 {
    color: #f1f1f1;
}

label {
    display: block; 
    margin-top: 25px; 
    font-size: 20px; 
}

button {
    margin-top: 35px;
    background-color: #80cbc4;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #4db6ac;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

body.dark-theme button {
    background-color: #6b1616;
}

body.dark-theme button:hover {
    background-color: #b64d4d;
}

#result {
    font-size: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
}
