* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #707070, #1a1a1a);
  color: #eaeaea;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #181818;
  transition: background-color 0.3s ease;
}

/* Estilos para as categorias e os links */
.category {
  margin-top: 100px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.category h2 {
  font-size: 2em;
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

/* Modificações para colocar as seções lado a lado */
main {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  padding: 20px;
}

/* Modificações apenas para os itens de lista fora do header */
main .menu ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}

main li {
  list-style: none;
  position: relative;
  padding: 12px 20px;
  background: #222;
  border-radius: 8px;
  margin: 0;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-align: center;
}

main li:hover {
  transform: scale(1.05);
  background-color: #333;
}

main li a {
  text-decoration: none;
  color: #eaeaea;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

main li a:hover {
  color: #00ffb3;
  text-shadow: 0 0 10px #00ffb3, 0 0 20px #00ffb3;
}

footer {
  margin-top: auto;
  background-color: #222222;
  color: #ccc;
  padding: 20px;
  text-align: center;
}

footer a {
  color: #ccc;
  margin: 0 10px;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #00ffb3;
}

.footer-icons {
  margin-top: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
  header {
    padding: 15px;
  }

  .category h2 {
    font-size: 1.5em;
  }

  .patch {
    width: 90%;
    height: 900px;
    border-radius: 15px;
    border: 2px solid #007bff;
    box-shadow: 0 4px 20px rgba(0, 123, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
}