* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Arial", sans-serif;
    background: linear-gradient(135deg, #4b4b4b, #222222);
    color: #eaeaea;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #181818;
    transition: background-color 0.3s ease;
  }

  .category {
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .category h2 {
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 255, 179, 0.7);
  }

  main {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    padding: 20px;
    flex-wrap: wrap;
  }

  main .menu ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
  }

  footer {
    margin-top: auto;
    background-color: #222222;
    color: #ccc;
    padding: 20px;
    text-align: center;
    font-size: 1em;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
  }

  footer a {
    color: #ccc;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s ease;
  }

  footer a:hover {
    color: #00ffb3;
  }

  .footer-icons {
    margin-top: 10px;
  }

  /* Responsividade */
  @media (max-width: 768px) {
    header {
      padding: 15px;
    }

    .category h2 {
      font-size: 1.5em;
    }

    main {
      flex-direction: column;
      align-items: center;
    }

    main li {
      padding: 10px;
    }
  }