/* Reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #707070, #1a1a1a);
  color: #eaeaea;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #181818;
  transition: background-color 0.3s ease;
}

/* Centralizando a category */
.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.category h2 {
  font-size: 2em;
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

/* Estilização do menu */
main {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
  min-height: 100vh;
}

main .menu ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
}

main li {
  position: relative;
  padding: 12px 20px;
  background: #222;
  border-radius: 8px;
  margin: 10px 0;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-align: center;
  width: 100%;
  list-style: none;
}

main li:hover {
  transform: scale(1.05);
  background-color: #333;
}

main li a {
  text-decoration: none;
  color: #eaeaea;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

main li a:hover {
  color: #00ffb3;
  text-shadow: 0 0 10px #00ffb3, 0 0 20px #00ffb3;
}

/* Animação */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Rodapé fixo no final da página */
footer {
  background-color: #222222;
  color: #ccc;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

footer a {
  color: #ccc;
  margin: 0 10px;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #00ffb3;
}

footer .footer-icons {
  margin-top: 10px;
}